node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.example
*.md
logs
coverage
.vscode
.idea
*.log
public/uploads/*
!public/uploads/.gitkeep
src/test
*.test.ts
*.spec.ts
jest.config.js
tsconfig.test.json
